main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
  padding-top: 60px;
  margin: 0;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}
  /* Fixing the search bar to avoid moving with the cards when scrolling */
.searchbar {
  position: fixed;
  top: 119px;
  left: 10px;
  right: 1px;
  z-index: 1000;
}