  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    margin-top: 30px;
    box-sizing: inherit;
    position: fixed;
  }

  .content {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin-bottom: 3rem;
  }

/* Adding z-index to keep card always above the buttons on the animation (im picky) */  
#home-card{
  position: relative;
  z-index: 10;
}
