.navbar ul{
    list-style: none;
    background-color: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    padding: 0px;
    margin: 0px;
}

.navbar{
    width: screen-width;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: last;
    top: 0;
    z-index: 1000;
    margin-left: 1000px;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

.navbar li{
    float: left;
}