<mat-toolbar>
    <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>PotLuck</span>
    <nav class="navbar">
      <ul>
        <li><a href="app.html">Home</a></li>
        <li><a href="https://github.com/BopeChanUwU/hello-world/blob/Tristens-Test-Branch/src/app/login.html">Login</a></li>
        <li><a href="phttps://github.com/BopeChanUwU/hello-world/blob/Tristens-Test-Branch/src/app/profile.html">Profile</a></li>
      </ul>
    </nav>
    <span class="example-spacer"></span>
    <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Login</span>
    </button>
  </mat-menu>