
.mat-toolbar{
  background: var(--red-to-orange-to-yellow-horizontal-gradient);
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.example-spacer{
  flex: 1 1 auto;
}

.container {
  display: flex;
  justify-content: space-between; /* Pushes items to opposite ends */
  align-items: flex-start; /* Aligns items to the top */
}

.left-content {
  
  flex-grow: 1; /* Allows it to take up available space */
}

a {
  color: azure;
  font:inherit;
  text-decoration: none;
  font-size: 35px;
  text-align: center;
  padding: 0
}
.right-navbar {
  display:flex;
  align-items: center;
}
img {
 
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  padding-top: 20px;
  
}
<<<<<<< HEAD
=======
img {
 
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  padding-top: 20px;
  
}
>>>>>>> master
.text-link {
  font-size: 24px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  padding-bottom: 40px;
}