<button matIconButton class = "main-button" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @if (isMyRecipeFlag() == false){
      <button mat-menu-item>
        <mat-icon class="fa fa-jelly-fill fa-regular fa-pencil fa-2x"></mat-icon>
        <span>Unlike</span>
      </button>
    } @else {
      <button mat-menu-item (click)="editRecipe()">
        <mat-icon class="fa fa-jelly-fill fa-regular fa-pencil fa-2x"></mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteRecipe()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    }
  </mat-menu>
  