body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Jost', sans-serif;
  	background-color: white;
<<<<<<< HEAD
	
=======
>>>>>>> origin/Ryans-Test-Branch
}

.main{
	width: 350px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	background: red;
	overflow: hidden;
	background: var(--red-to-orange-to-yellow-vertical-gradient);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

#chk{
	display: none;
}

.signup{
	width:100%;
	height: 100%;
}

label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 40px;
  	padding-top: 45px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input{
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}

button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: var(--vibrant-yellow);
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover{
	background: var(--vibrant-yellow);
}

.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login label{
	color: var(--vibrant-yellow);
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}

#chk:checked ~ .login label{
	transform: scale(1);	
}

#chk:checked ~ .signup label{
	transform: scale(.6);
}
