<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{recipeTitle}}</mat-card-title>
        <mat-card-subtitle>{{creatorName}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{imgSrc}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p> {{recipeDescription}} </p>
        <p> {{ingredients}} </p>
        <p> {{instructions}} </p>
    </mat-card-content>
</mat-card>