  .example-card {
    max-width: 400px;
    z-index: 0;
    background-color: #FFF;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
  }
  
  .example-header-image {
    background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    margin: 0;
    box-sizing: inherit;
    position: relative;
    overflow-y: auto;
    margin-top: 50px;
  }
  
  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
    margin-top: 200px;
  }