.example-card {
    width: 700px;
    margin-top: 20px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 0;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  }
  
  .example-header-image {
    background-image: url('https://media.istockphoto.com/id/2171382633/vector/user-profile-icon-anonymous-person-symbol-blank-avatar-graphic-vector-illustration.jpg?s=170667a&w=0&k=20&c=C0GFBgcEAPMXFFQBSK-rS2Omt9sUGImXfJE_8JOWC0M=');
    background-size: cover;
  }