
<div class="area"></div><nav class="main-menu">
        <ul>
            <li>
                <a href="https://jbfarrow.com">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                       Saved Recipes
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-jelly-fill fa-regular fa-pencil fa-2x"></i>
                    <span class="nav-text">
                        Create Recipe
                    </span>
                </a>
                
            </li>
            <li>
               <a href="#">
                   <i class="fa fa-cogs fa-2x"></i>
                    <span class="nav-text">
                        Settings
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                   <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        About Us
                    </span>
                </a>
            </li>
            <li>
                <a href="login">
                      <i class="fa fa-power-off fa-2x"></i>
                     <span class="nav-text">
                         Logout
                     </span>
                 </a>
             </li>  
        </ul>
    </nav>



