.example-card {
    max-width: 400px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    position: center;
    background-color: #FFF;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    overflow: scroll;
}

mat-card image {
    max-height: 50px;
    width: 400px;
    object-fit: scale-down;
}

.example-header-image {
    background-image: source('https://media.istockphoto.com/id/2171382633/vector/user-profile-icon-anonymous-person-symbol-blank-avatar-graphic-vector-illustration.jpg?s=170667a&w=0&k=20&c=C0GFBgcEAPMXFFQBSK-rS2Omt9sUGImXfJE_8JOWC0M=');
    background-size: cover;
}
/* Swipe Animatiobns */
.swipe-right {
  transition: transform 0.5s ease-in-out;
  transform: translateX(310%) rotate(30deg);
}

.swipe-left {
  transition: transform 0.5s ease-in-out;
  transform: translateX(-310%) rotate(-30deg);
}

@keyframes resetPosition {
  0% {
    transform: translateY(100%) rotate(0deg) scale(0.65);
    opacity: 0;
  }
  100% {
    transform: translateY(0%) rotate(0deg) scale(1);
    opacity: 1;
  }
}
.reset-position {
  animation: resetPosition 0.5s ease forwards;
}
