.example-card {
    max-width: 400px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: center;
    background-color: #FFF;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    overflow-y: scroll;
    /* transition: max-height 0.4s ease-in-out; */
}
/* To have the card collapse and only show fully when hovering, save space */
/* .example-card:hover {
    max-height: 600px;
    overflow: scroll;
} */

mat-card image {
    max-height: 50px;
    width: 400px;
    object-fit: scale-down;
}

.example-header-image {
    background-image: url('https://media.istockphoto.com/id/2171382633/vector/user-profile-icon-anonymous-person-symbol-blank-avatar-graphic-vector-illustration.jpg?s=170667a&w=0&k=20&c=C0GFBgcEAPMXFFQBSK-rS2Omt9sUGImXfJE_8JOWC0M=');
    background-size: cover;
}