.example-card {
    max-width: 400px;
    margin-left: 325px;
    margin-top: 20px;
    position: center;
    background-color: #FFF;
    
}

.example-header-image {
    background-image: url('https://media.istockphoto.com/id/2171382633/vector/user-profile-icon-anonymous-person-symbol-blank-avatar-graphic-vector-illustration.jpg?s=170667a&w=0&k=20&c=C0GFBgcEAPMXFFQBSK-rS2Omt9sUGImXfJE_8JOWC0M=');
    background-size: cover;
}